th{
	font-size: 16px
}
span{
	font-size: 14px;
	font: "微软雅黑";
}
#mytable,#xxtable{ 
width: 100%; 
padding: 0; 
margin: 0; 
text-align : center ; 
background-color:#ffffff;
} 

td { 
border-right: 1px solid #C1DAD7; 
border-bottom: 1px solid #C1DAD7; 
font-size:13px; 
color: #4f6b72; 
align-content: center;
width:160px;
} 
#detailImg-pre {
	left: 0;
	background-position: -35px 0;
}
#detailImg-next {
	right: 0;
	background-position: -99px 0;
}
#detailImg-pre:hover {
	background-position: -35px -47px;
}
#detailImg-next:hover {
	background-position: -99px -47px;
}
.detailImg {
	text-align: center;
	position: relative;
	display: -moz-box;display: -webkit-box;
}
.table-heading{ 
    font-family : Georgia, serif; 
    font-size : 16px ; 
    font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
    align-content: center;
    color : #101010 ; 
} 

.detailImg img {
	max-width: 684px;
}
.detailImg p {
	text-align: center;
	color: #999;
}
#detailImg-pre,
#detailImg-next {
	position: absolute;
	width: 30px;
	height: 46px;
	top: 30%;
	background: url(__IMG__/page_button.gif) 0 0 no-repeat;
	cursor: pointer;
	text-indent:-9999px;
}

#detailImg-box{
    -moz-box-flex: 1;-webkit-box-flex: 1;margin-left:30px;margin-right:30px
}
#detailImg-box,#detailImg-pre,#detailImg-next,detailImg{
    -moz-box-sizing: border-box;-webkit-box-sizing: border-box;
}

.week_id_num_span{
	text-align: center;
    width: 30px;
    height:30px;
    line-height:35px;
    padding: 1px 1px 1px 3px;
    border: 1px solid transparent;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    color: #000000;
	background-color:#F7FBFF ;
	float: left;
    margin: 1px 1px;
    font-size: 16px;
}
.week_id_num_span:hover{
    color: #FFFFFF;
	background-color:#3bafda ;
	cursor: pointer;
}
.week_id_num_span_active{
    color: #FFFFFF;
	background-color:#0a64a4 ;
	cursor: pointer;
}
.class_open_xx{
	color: #60c5eb;
	}
.class_open_kc{
	color: #4795d1;
	}
.class_open_ks{
	color: #f04037;
	}
.class_close{
	color: #4f6b72;
	}
.class_null{
	color: #FFFFFF;
	}