
span{
font-size:14px;
}
#mytable { 
width: 1120px; 
padding: 0; 
margin: 0; 
text-align : center ; 
} 
.table-heading{ 
    font-family : Georgia, serif; 
    font-size : 16px ; 
    font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
    align-content: center;
    color : #101010 ; 
} 


th{
	font-size:15px; 
}
td { 
border-right: 1px solid #C1DAD7; 
border-bottom: 1px solid #C1DAD7; 
font-size:13px; 
padding: 6px 6px 6px 12px; 
color: #4f6b72; 
align-content: center;
width:160px;
} 

	
p td_have{
	cursor: pointer;
	}
p td_null{
	pointer-events: none;
}

.class_open{
	color: #000000;
	}
.class_close{
	color: #4f6b72;
	}
.class_null{
	color: #FFFFFF;
	}

.hidden{ 
display : none ;} 


